[user]
	name = Daniel Kolman
	email = dkolman@vendavo.com
[core]
	excludesfile = /Users/dkolman/.gitignore
	editor = vim
[branch]
	autosetuprebase = always
[push]
	default = tracking
[merge]
	keepBackup = false;
	tool = fugitive
[mergetool "fugitive"]
	cmd = mvim -f -c \"Gdiff\" \"$MERGED\"
[mergetool]
	prompt = false
[diff]
	tool = mvimdiff
[difftool]
	prompt = false
[difftool "mvimdiff"]
	cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
	path =

[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
